.skill {
  margin-bottom: 1.5rem;
}
.skill__bar {
  background: #f4f6fd;
  border-radius: 5px;
  padding: 0.1rem 0;
}

.skill__info {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}
