.services {
  position: relative;
  margin-top: var(--section-margin-top);
}

.services .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  padding-top: 1rem;
  padding-bottom: 6rem;
}

@media (max-width: 650px) {
  .services .container {
    grid-column-gap: 0;
  }
}
