.skills {
  margin: 3rem 0;
}

.skills .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.skill-bars {
  max-width: 600px;
  grid-column-end: span 6;
  padding-top: 3rem;
}

.skill-image {
  grid-column-end: span 6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-image img {
  width: 90%;
}

@media (max-width: 920px) {
  .skill-bars {
    grid-column-end: span 12;
  }

  .skill-image {
    grid-column-end: span 12;
  }
}

/* Skill */
.skill {
  margin-bottom: 1.5rem;
}
.skill__bar {
  background: #f4f6fd;
  border-radius: 5px;
  padding: 0.1rem 0;
}

.skill__info {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}
