.services {
  position: relative;
  z-index: 0;
  display: flex;
  overflow: hidden;
  margin-bottom: 5rem;
}

.services .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  padding: 2rem;
  padding-top: 0;
}

.octagons-container {
  align-self: center;
  position: absolute;
  left: -10%;
}

.custom-class {
  /* width: 100%; */
  height: 100%;
  position: absolute;
  right: -3%;
  /* bottom: 0%; */
}

@media (min-width: 1800px) {
  .custom-class {
    /* height: 100%; */
    right: 3%;
  }
}

/* .rocket-wraper { */
/* position: relative;
  right: 20%; */
/*justify-self: center;
  bottom: -10%; */
/* } */

@media (max-width: 1500px) {
  .rocket-wraper {
    right: -3%;
  }
}

.rocket-wraper img {
  width: 100%;
  height: 100%;
}

.octagons-container img {
  width: 100%;
  height: 100%;
}

/* Service */
.service {
  position: relative;
  z-index: 0;
  grid-column-end: span 4;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* z-index: 0; */
  /* box-shadow: 7px 5px 30px rgba(72, 73, 121, 0.15); */
}

.circle {
  padding: 2.8rem;
  box-shadow: 7px 5px 30px rgba(72, 73, 121, 0.15);
  border-radius: 0.5rem;
  background: #fff;
}

.circle:hover .conta {
  animation: movingAround 5s linear infinite;
}

@keyframes movingAround {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.service__icon {
  position: relative;
  margin-bottom: 1.8rem;
}

.conta {
  width: 70px;
  height: 70px;
  background: #fff;
  border-radius: 5px;
  position: relative;
}

/* Moving Octagons around Circle Circle */
.circle-octagon {
  border-radius: 50%;
  background: #f4f6fd;
  width: 150px;
  height: 150px;
}

.icons {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 1;
}

.octagon {
  position: absolute;
  width: 22px;
  height: 22px;
  transform: rotate(0);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.octa1 {
  top: 8px;
  left: 112px;
}

.octa2 {
  top: 116px;
  left: 14px;
}

.service__content {
  margin-bottom: var(--bottom-margin);
}

.sercices__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: var(--bottom-margin);
}

.services__detail {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: var(--dark-color);
}

.services__btn {
  display: inline-block;
  color: #ff7e00;
  text-decoration: none;
  padding-bottom: 0.3rem;
}

/* Icon Colors */

.web-development-icon {
  background: radial-gradient(
    circle at 33% 100%,
    #fed373 4%,
    #ff4200 60%,
    #ff4200 62%,
    #fed373
  );
}

.app-development-icon {
  background: radial-gradient(
    circle at 33% 100%,
    #72e3f2 4%,
    #3224e9 60%,
    #3224e9 62%,
    #72e3f2
  );
}

.internet-marketing-icon {
  background: radial-gradient(
    circle at 33% 100%,
    #8cffed 4%,
    #009cff 60%,
    #009cff 62%,
    #8cffed
  );
}

.ui-ux-icon {
  background: radial-gradient(
    circle at 33% 100%,
    #5ad0ff 4%,
    #3224e9 60%,
    #3224e9 62%,
    #5ad0ff
  );
}

.branding-icon {
  background: radial-gradient(
    circle at 33% 100%,
    #ff4200 4%,
    #fed373 60%,
    #ff4200 62%,
    #fed373
  );
}

.animation-icon {
  background: radial-gradient(
    circle at 33% 100%,
    #8cffed 4%,
    #009cff 60%,
    #009cff 62%,
    #8cffed
  );
}

/* Needs always after the icon colors */

.service-icon-color {
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Responsive */

@media (max-width: 920px) {
  .service {
    grid-column-end: span 6;
  }
}

@media (max-width: 650px) {
  .services .container {
    grid-column-gap: 0;
  }

  .service {
    grid-column-end: span 12;
  }
}
