.whoWeAre__Wraper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
  z-index: 0;
}

.WhoWeAre__content {
  grid-column-end: span 6;
}

.WhoWeAre__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column-end: span 6;
}

.WhoWeAre__content h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.WhoWeAre__content p {
  font-size: 1.1rem;
  line-height: 1.7;
  color: var(--dark-color);
  margin-bottom: 1.5rem;
}

.WhoWeAre__img {
  grid-column-end: span 6;
}
.WhoWeAre__img img {
  width: 100%;
  height: 100%;
}
