.about-info {
  margin: 3rem 0;
}

.about-info .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.about-info-data {
  grid-column-end: span 6;
  align-self: center;
}

.about-info-data p {
  font-size: 1.125rem;
  margin-bottom: 1.125rem;
  color: var(--gray-color);
}

.about-image {
  grid-column-end: span 6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image img {
  width: 90%;
}

@media (max-width: 920px) {
  .about-info-data {
    grid-column-end: span 12;
  }

  .about-image {
    grid-column-end: span 12;
  }
}

/* Service Card */
.service-card {
  position: relative;
  margin-top: var(--section-margin-top);
  background: #f4f6fd;
  padding: 3rem 3rem;
}

.service-card .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  padding-top: 1rem;
  padding: 6rem 0;
}

.icon-shadow {
  box-shadow: 7px 5px 30px rgba(72, 73, 121, 0.15);
}
