.howWeDo {
  margin-top: var(--section-margin-top);
}

.howWeDo__content h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.howWeDo__content p {
  max-width: 700px;
  margin: auto;
  color: var(--dark-color);
  font-size: 1.08rem;
  text-align: center;
  margin-bottom: 1rem;
}

.header-divider {
  position: absolute;
  left: 50%;
  border-radius: 2px;
  display: inline-block;
  width: 40px;
  height: 3px;
  background: #ff7d00;
  margin-left: -20px;
}

.header-divider::before {
  background: #ff7d00;
  content: "";
  position: absolute;
  left: -20px;
  width: 10px;
  height: 3px;
  border-radius: 2px;
}

.header-divider::after {
  background: #ff7d00;
  right: -20px;
  content: "";
  position: absolute;
  width: 10px;
  height: 3px;
  border-radius: 2px;
}

.title {
  padding-top: 1.1rem;
}
