:root {
  --primary-color: #3224e9;
  --secondary-color: #ff7e00;
  --button-color: linear-gradient(left,#ffc600 0%,#ff4200 50%,#ffc600 100%);
  --button-color-hover:linear-gradient(right,#ffc600 0%,#ff4200 50%,#ffc600 100%);
  --light-color: #f3f3f3;
  --dark-color: rgba(0, 0, 0, 0.1);
  --max-width: 1220px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  /* background: var(--light-color); */
}  

.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}