/* Fonts used in website */
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800|Open+Sans:600&display=swap");

:root {
  /* colors */
  --primary-color: #3224e9;
  --secondary-color: #ff7e00;
  --gray-color: #6f6f6f;
  --main-color: #fff;
  --border-color: rgba(0, 0, 0, 0.1);
  --max-width: 1220px;
  --bottom-margin: 0.5rem;
  --section-margin-top: 5rem;
  /* Fonts Weights */
  --bold: 700;
  --extra-bold: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.5;
}

.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}
