.team-members {
  margin: 5rem 0;
}

.team-members .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 3rem 2rem;
  border-bottom: 1px solid #dee1ed;
  padding-bottom: 3rem;
}

/* Member Card */

.member-card {
  grid-column-end: span 3;
  border-radius: 5px;
  position: relative;
}

.img-wrapper {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.img-wrapper img {
  height: 100%;
  width: 100%;
  transition: 0.7s;
  transform: scale(1.1);
}

.img-wrapper img:hover {
  transform: scale(1);
}

.social-icons {
  position: relative;
  display: flex;
  justify-content: center;
  bottom: 1.1rem;
}

.member-name {
  text-align: center;
  padding-top: 2rem;
  font-weight: lighter;
  font-size: 1.2rem;
}

.member-position {
  color: var(--dark-color);
  text-align: center;
}

@media (max-width: 1020px) {
  .member-card {
    grid-column-end: span 4;
  }
}

@media (max-width: 730px) {
  .member-card {
    grid-column-end: span 6;
  }
}

@media (max-width: 570px) {
  .member-card {
    grid-column-end: span 12;
  }
  .img-wrapper {
    height: 417px;
  }
}
