/* Footer */
#main-footer {
  background: #040c5e;
  color: #fff;
}

#main-footer a {
  color: #fff;
}

#main-footer .footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  padding-top: 5rem;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1rem;
  grid-column: 1 / span 4;
  padding: 0.5rem;
  padding-top: 1rem;
  text-align: center;
  font-size: 1rem;
}

#main-footer .footer-container input[type="email"] {
  width: 100%;
  padding: 0.8rem 1rem 0.8rem 1rem;
  margin-bottom: 0.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
}

#main-footer .footer-container input[type="submit"] {
  width: 90%;
}

/* my styles */
.about-us {
  line-height: 2;
}

.about-us h2,
.footer-service h3,
.footer-contact h2,
.footer-contact p,
.footer-newsletter h3 {
  margin-bottom: 1rem;
  line-height: 2;
}

/* cause problem */

a {
  color: #333;
  text-decoration: none;
}

ul {
  list-style: none;
}

.py-2 {
  padding: 2rem 0;
}

.list li {
  padding: 0.5rem 0;
  width: 90%;
}

.list li a {
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.list li a:hover {
  color: #ff7e00 !important;
}
