.OurClients {
  margin-bottom: 5rem;
  position: relative;
  z-index: 0;
}

.OurClients::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: #f4f6fd url("../../assets/client-bg.png") no-repeat center
    center/cover;
}

.OurClients .container {
  position: relative;
  z-index: 1;
}
