

.social{
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.social .container {
  display: grid;
  grid-template-columns: 7fr 2fr 2fr;
  align-items: center;
  justify-content: flex-end;
}

.social__email a{
  border-right: 1px solid rgba(0, 0, 0, 0.1); 
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  color: #777;
  transition: color 0.1s ease-in-out;

}

.social__email a:hover{
  color: var(--secondary-color);
}

.social__email a i{
  padding-right: 0.3rem;
  color: var(--primary-color);
}

.social__icons a {
  color: #777;
  margin-right: .5rem;
  transition: color 0.1s ease-in-out;
}

.social__icons a:hover {
  color: var(--secondary-color);
}


.quote-btn a{
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: bold;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.2rem;
}