.showcase {
  position: relative;
  overflow: hidden;
}

.blue-vector {
  position: absolute;
  right: 100%;
  width: 400px;
  height: 400px;
}

@media (min-width: 1500px) {
  .blue-vector {
    right: 87%;
  }
}

@media (min-width: 2000px) {
  .blue-vector {
    right: 78%;
  }
}

.showcase .container {
  position: relative;
  display: grid;
  overflow: visible;
  grid-template-columns: repeat(12, 1fr);
}

/* Right Side */
.showcase__content {
  max-width: 550px;
  grid-column-start: span 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.showcase__content h1 {
  font-size: 2.8rem;
  font-weight: var(--extra-bold);
  margin-bottom: var(--bottom-margin);
}

.showcase__detail {
  font-size: 1.125rem;
  color: var(--gray-color);
  margin-bottom: var(--bottom-margin);
}

.showcase__detail2 {
  font-size: 1.5rem;
  color: var(--gray-color);
  margin-bottom: 2rem;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 800px) {
  .showcase .container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
}
