.showcase {
  position: relative;
  height: 100%;
  width: 100%;
}

.showcase .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-bottom: 10rem;
}

.showcase__content {
  padding-top: 3rem;
  max-width: 436px;
  grid-column-start: span 6;
}

.showcase__content h1 {
  font-size: 3rem;
  margin-bottom: var(--bottom-margin);
}

.showcase__detail {
  font-size: 1.125rem;
  color: var(--dark-color);
  margin-bottom: var(--bottom-margin);
}

.showcase__detail2 {
  font-size: 1.5rem;
  color: var(--dark-color);
  margin-bottom: 2rem;
}

.showcase__detail2 i {
  font-size: 1.8rem;
  color: var(--dark-color);
}

@media (max-width: 500px) {
  .showcase .container {
    grid-template-rows: 15rem 22rem;
  }

  .showcase__content {
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .showcase__content h1 {
    font-size: 2rem;
  }
}

@media (max-width: 320px) {
  .showcase__content {
    padding-top: 0;
  }
}

@media (max-width: 500px) and (min-width: 370px) {
  .showcase__content {
    padding-top: 7rem;
  }
}
