.coin {
  position: absolute;
  width: 100%;
  transform: translateY(-1200px);
}

.coin5 {
  animation: upToDown 1.7s forwards ease-out 1.7s;
  top: 2.2rem;
}
.coin4 {
  top: 2.9rem;
  animation: upToDown 1.7s forwards ease-out 1.4s;
}
.coin3 {
  top: 3.6rem;
  animation: upToDown 1.7s forwards ease-out 1.1s;
}
.coin2 {
  top: 4.3rem;
  animation: upToDown 1.7s forwards ease-out 0.8s;
}

.coin1 {
  top: 5rem;
  animation: upToDown 1.7s forwards ease-out 0.5s;
}

/* Keyframes */
@keyframes upToDown {
  to {
    transform: translateY(0);
  }
}

@media (max-width: 700px) {
  .coin5 {
    top: 3.2rem;
  }
  .coin4 {
    top: 3.8rem;
  }
  .coin3 {
    top: 4.2rem;
  }
  .coin2 {
    top: 4.6rem;
  }

  .coin1 {
    top: 5rem;
  }
}
