.showcase {
  position: relative;
  height: 100%;
  width: 100%;
}

.showcase .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 5rem;
}

.showcase__content {
  padding-top: 3rem;
  max-width: 436px;
}

.showcase__content h1 {
  font-size: 3rem;
  margin-bottom: var(--bottom-margin);
}

.showcase__detail {
  font-size: 1.125rem;
  color: var(--dark-color);
  margin-bottom: var(--bottom-margin);
}

.showcase__detail2 {
  font-size: 1.5rem;
  color: var(--dark-color);
  margin-bottom: 2rem;
}

.showcase__detail2 i {
  font-size: 1.8rem;
  color: var(--dark-color);
}

.showcase__pictures {
  position: relative;
}
